@use 'variaveis';

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    background-image: linear-gradient(to right, #011c29, #4b2e9b, #011c29);
    margin-top: 64px;

    @media (max-width: 768px) {
        margin-top: 0;
    }

    &__tittle {
        font-weight: lighter;
        font-size: 32px;
        color: variaveis.$corTextoPrincipal;

        @media (max-width: 768px) {
            font-size: 16px;
            text-align: center;
        }
    }
}