@use 'variaveis';

.hero {
    min-height: 80vh;
    background-image: url(../images/hero/mulher_maravilha.jpeg);
    background-repeat: no-repeat;
    position: relative;
    display: block;
    color: variaveis.$corTextoPrincipal;
    background-size: cover;

    @media (max-width: 768px) {
        width: 100%;
        padding-top: calc(50vw + 25px);
        background-image: url(../images/hero/hero_celular.jpeg);
        background-size: contain;
        background-repeat: no-repeat;
        padding-bottom: 0;
        background-size: contain;
        
    }

    &__content__tittle {
        font-size: 24px;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
    
    }

    &__content {
        max-width: 640px;
        justify-content: space-between;
        align-items: center;
    
        &__branding {
            
            max-width: 320px;
            margin: 0 auto 38px;

            @media (max-width: 768px) {
                max-width: 180px;
                padding: 0;
            }
        }
    }
}