$corDeFundo: #040714;
$corTextoPrincipal: rgb(255, 255, 255);
$corTextoSecundario: #f9f9f9;
$corDeFundoBotaoPrimario: rgb(181, 53, 246);
$corDeFundoBotaoSecundario: #0063e5;
$corDeFundoBotaoDark: #000;
