@use 'variaveis';
@use 'hero';
@use 'footer';
@use 'header';
@use 'container';
@use 'description';


@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;

    
    &--secondary {
        background-color: variaveis.$corDeFundoBotaoPrimario;
        border-color: variaveis.$corDeFundoBotaoPrimario;
        border-radius: 25px;
        color: variaveis.$corTextoPrincipal;
        max-height: 40px;
        font-size: 12px;
        font-weight: bold;

        @media (max-width: 768px) {
            text-align: center;
            
        }
    }

    &--dark {
        background-color: variaveis.$corDeFundo;
        border-color: variaveis.$corDeFundo;
        color: variaveis.$corTextoPrincipal;
        max-height: 40px;
        font-size: 12px;
        font-weight: bold;
    }
}
